# Gerado com ngx-htaccess-generator v1.2.4
# Verifique se há atualizações: https://julianpoemp.github.io/ngx-htaccess-generator/

<IfModule mod_rewrite.c>
  RewriteEngine  ativado

  # Redirecionamento de solicitações para index.html
  RewriteCond  %{DOCUMENT_ROOT} %{REQUEST_URI} -f [OR]
  RewriteCond  %{DOCUMENT_ROOT} %{REQUEST_URI} -d
   RewriteRule ^.*$ - [NC,L]
  # Redireciona todas as rotas que não são de arquivo para index.html
  RewriteRule ^(?!.*\.).*$ index.html [NC,L]
</IfModule>
