section {
  h1 {
    height: 100px;
  }
}

main {
  justify-content: space-between;
}

.result-container {
  padding: 0 70px;
  .label {
    strong {
      font-size: 24px;
    }

    p {
      font-weight: 200;
      padding: 10px 20px;
    }
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ffffff;
    margin: 30px 30%;
    padding: 0;
  }
}
footer {
  div {
    display: flex;
    gap: 8px;
    i {
      font-size: 32px;
      cursor: pointer;
      transition: ease-out 0.3s;

      &.fa-1 {
        &.active {
          transition: ease 0.3s;
          color: rgb(236, 50, 50) !important;
        }
        &:hover {
          transition: ease 0.3s;
          color: rgb(236, 50, 50) !important;
        }
      }
      &.fa-2 {
        &.active {
          transition: ease 0.3s;
          color: #f39237 !important;
        }
        &:hover {
          transition: ease 0.3s;
          color: #f39237 !important;
        }
      }
      &.fa-3 {
        &.active {
          transition: ease 0.3s;
          color: #fffb46 !important;
        }
        &:hover {
          transition: ease 0.3s;
          color: #fffb46 !important;
        }
      }
      &.fa-4 {
        &.active {
          transition: ease 0.3s;
          color: #b9fd3b !important;
        }
        &:hover {
          transition: ease 0.3s;
          color: #b9fd3b !important;
        }
      }
      &.fa-5 {
        &.active {
          transition: ease 0.3s;
          color: #d741a7 !important;
        }
        &:hover {
          transition: ease 0.3s;
          color: #d741a7 !important;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  section {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    gap: 0px 8px;
  }
  h1 {
    height: auto !important;
  }

  .result-container {
    padding: 0;
  }

   hr {
    margin: 18px 0% !important;
   }
}
