/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import '../public/assets/base.scss';



.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.gap-24 {
  gap: 24px;
}

h1.title {
  font-size: 3rem;
  text-align: center;

  i {
    color: #008cff;
  }
}

div.button {
  cursor: pointer;

  border: 2px solid #008cff;
  width: 42px;
  height: 42px;
  border-radius: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: ease-out 0.3s;
  background-color: #008cff;
  svg {
    path {
      fill: var(--bg-color)
    }
  }

  &:hover {
    transition: ease 0.3s;
    background-color: transparent;

    svg {
      path {
        fill: #008cff;
      }
    }
  }

  &.disabled {
    pointer-events: none;
    border: 2px solid #105691;
    background-color: #105691;
  }
}

